<section class="container">
    <section class="text-center">
        <h2>Gravações</h2>
    </section>

    <div class="d-flex">
        <a href="/gravacoes/criar" class="ms-auto btn btn-dark">Cadastrar nova gravação</a>
    </div>

   <div class="container-fluid mb-4 row row-cols-1 row-cols-md-3 g-4 mt-2">
        {{#each dados}} <!--Cada dado, mutiplicando a quantidade de produtos-->
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{artista.dataValues.nome}}</h5>
                    <p class="card-text m-0">ID: {{dataValues.id}}</p>
                    <p class="card-text m-0">Duração em Minutos: {{dataValues.duracao}}</p>
                    <p class="card-text m-0">Data da Gravação: {{dataValues.data_gravacao}}</p>
                </div>

                <div class="card-footer text-body-secondary">
                  <a href="" class="btn btn-danger" 
                    data-bs-toggle="modal" 
                    data-bs-target="#modal{{dataValues.id}}">Excluir</a>
                </div>
            </div>
        </div>
          {{>modalDelete idItem=dataValues.id}}
        {{else}}
        <p>Nenhuma gravação cadastrada ainda.</p> 

        {{/each}}
    </div>
</section>